<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Brood War Twitter Initiative</title>
    <meta name="viewport" content="width=device-width, i1nitial-scale=1" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" ype="text/css" href="{% static 'style.css' %}"/>
</head>

  <body bgcolor="grey">
    <h2 align="center">BWTI - BROOD WAR TWITTER INIATIVE</h2>
    <p align="center">SMASH those follow buttons!</p>

    <div class="wrapper">
      {% for tier, tweets in grouped_tweets.items %}
      <div class="column col{{ forloop.counter }}">
        <h2 align="center">{{ tier }}</h2>
        {% for tweet in tweets %}
          {{tweet | safe}}
        {% endfor %}
      </div>
      {% endfor %}
    </div>

  </body>
</html>
